
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<title>Reset Key</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/change/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/change/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/change/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/change/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/change/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/change/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/change/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/change/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/change/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/change/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/change/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/assets/images/img-02.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action='/change_adminkey' method="POST">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Change Admin Key
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter Key">
						<input class="input100" type="password" name="adminkey" id="adminkey" placeholder="Admin Key">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="newkey" id="" placeholder="New key">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="repeatnewkey" id="repeatnewkey" placeholder="Confirm Key">

					<div class="container-login100-form-btn">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
                    </div>
						<center><button class="login100-form-btn" type="submit" value="change" name="change" >
							Change
                        </button></center>
					</div>

					<div>
						<center><a class="txt1" href="/login">Login</a></center>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="static/change/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/change/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/change/vendor/bootstrap/js/popper.js"></script>
	<script src="static/change/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/change/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/change/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/change/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/change/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/change/js/main.js"></script>

</body>
</html>