{% extends 'structure.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	<main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Apps
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn"></div>

			 
			<div class="container">
			
			<h1>Apps </h1>
			<div class="timelineposts">

			
			
			
				 
			</div>
		</div>
		
        </div>
      </main>
											
	
{% endblock %}