{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block body %}

{% with flashes = get_flashed_messages() %}
    {% if flashes %}
        {% for flash in flashes %}
            {% if flash.category == 'success' %}
                <div class="alert alert-success" role="alert">{{ flash }}</div>
            {% elif flash.category == 'error' %}
                <div class="alert alert-danger" role="alert">{{ flash }}</div>
            {% else %}
                <div class="alert alert-success" role="alert">{{ flash }}</div>
            {% endif %}
        {% endfor %}
    {%endif%}
{% endwith %}

<div class="login-clean">
        <form method="POST", action="/login">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember) }}
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" id="login" type="submit" data-bs-hover-animate="shake">Log In</button>
            </div><a href="/forgot" class="forgot"><center>Forgot username or password?</center></a>
            <a href="/signup" class="forgot"><center>Don't have an account? Click here!</center></a>
        </form>
</div>

{% endblock %}