{% extends 'structure.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block body %} 


<main class="main">
	<!-- Breadcrumb-->

<script src="/static/javascript/profile.js"></script>

	<ol class="breadcrumb">
		<li class="breadcrumb-item">My Profile</li>
		</li>
	</ol>
	<div class="container-fluid">
		<div class="animated fadeIn"></div>
			{% with flashes = get_flashed_messages() %} 
			{% if flashes %} {% for flash in flashes %} {% if flash.category == 'success' %}
			<div class="alert alert-success" role="alert">{{ flash }}</div>
			{% elif flash.category == 'error' %}
			<div class="alert alert-danger" role="alert">{{ flash }}</div>
			{% else %}
			<div class="alert alert-success" role="alert">{{ flash }}</div>
			{% endif %} {% endfor %} {%endif%} {% endwith %}
			<div id="alert" class="alert.hide alert-success" role="alert"></div>
		<div class="container">

			<div class="user-one">

			</div>
				<div>
					<div>
							<img style=" max-width: 50px; height: 50px; border-radius: 50em;"
							{% if user.profile_pic %} 
								src="{{ user.profile_pic }}" 
								{% else %} 
									{% if user.gender=="male" %} 
										src="/static/avatar/block-male.png"
									{% elif user.gender=="female" %} 
										src="/static/avatar/block-female.png" 
									{% else %} 
										src="/static/avatar/default-black.png"
									{% endif %}
							{% endif %} alt="Friend">
						<h1>{{ user.username }}'s Profile
							<i class="glyphicon glyphicon-ok-sign verified" data-toggle="tooltip" title="Verified User" style="font-size:28px;color:#da052b;"></i>
						</h1>
					</div>
				</div>
				<div>

			<div class="container">

				<div class="row">

					<div class="col-md-3">
						<ul class="list-group">
							<li class="list-group-item">
								<span>
									<strong>About Me</strong>
								</span>
								<p>{{ user.about }}</p>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul id="list-group" class="list-group">
							{% with my_posts = get_news_feed(user, 0, only=True) %}
								{% if my_posts != 'failed' %}
									{% for post in my_posts %}
										{% if post != 'reachedMax' %}
											<li class="list-group-item">
												<blockquote>
													<div>
														<img style=" max-width: 50px; height: 50px; border-radius: 50em;"
														{% if user.profile_pic %} 
															src="{{ user.profile_pic }}" 
															{% else %} 
															{% if user.gender=="male" %} 
																src="/static/avatar/block-male.png"
															{% elif user.gender=="female" %} 
																src="/static/avatar/block-female.png" 
															{% else %} 
																src="/static/avatar/default-black.png"
															{% endif %}
														{% endif %} alt="Friend">
														<b>@{{ user.username }}</b>
													</div>
													<article>
															{% if post.post_content['media'] != [] %}
															  {% for media in post.post_content['media'] %}
																{% if media['filetype'] == 'photo' %}
																	<center><img src="{{ (media['path'])[0] }}"  width="80%" height="100%" ></center>
																{% elif media['filetype'] == 'audio' %}
																	<center><img src='/static/avatar/audio.png'  width="150" height="100" ></center>
																	<center><a  href="{{ (media['path'])[0] }}">Listen to {{ media['filename'] }}</a></center>
																{% elif media['filetype'] == 'video' %}
																	<center> <img src='/static/avatar/video.png'  width="150" height="100" ></center>
																	<center><a  href="{{ (media['path'])[0] }}">Watch {{ media['filename'] }}</a></center>
																{% elif media['filetype'] == 'document' %}
																	<center> <img src='/static/avatar/document.png'  width="150" height="100" ></center>
																	<center><a  href="{{ (media['path'])[0] }}">View {{ media['filename'] }}</a></center>
																{% elif media['filetype'] == 'batch' %}
																	  <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
																		<ol class="carousel-indicators">
																		  <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
																		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
																		  {% if len(media['path']) >= 2 %}
																			  {% for x in range(2, len(media['path'])) %}
																				  <li data-target="#carouselExampleIndicators" data-slide-to="{{x}}"></li>
																			  {% endfor %}
																		  {% endif %}
																		</ol>
																		<div class="carousel-inner">
																		  <div class="carousel-item active">
																			<img class="d-block w-100" alt="First slide [800x400]" style="height: 70%; width: 60%;" src="{{ (media['path'])[0] }}" data-holder-rendered="true">
																		  </div>
																			{% for y in (1, (len(media['path'])-1)) %}
																			  <div class="carousel-item">
																				<img class="d-block w-100" alt="Slide [800x400]" style="height: 70%; width: 60%;" src="{{ (media['path'])[y] }}" data-holder-rendered="true">
																			  </div>
																			{% endfor %}
																		</div>
																		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
																		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
																		  <span class="sr-only">Previous</span>
																		</a>
																		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
																		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
																		  <span class="sr-only">Next</span>
																		</a>
																	  </div>
																{% else %}
																  <empty></empty>
																{% endif %}
															  {% endfor %}
															{% endif %}<br/>
															<div style="font-size:15px;font-style:arial;">{{ post.post_content['post'] }}</div>
														  </article>
													<p></p>
													<footer>Posted --<span id='ago{{ post.post_id }}'>{{ time_ago(post.timestamp) }}</span>  {% if user.id == post.user_id %} -----
														<button class="btn" onClick="location.href='/edit/{{ post.post_id }}'">Edit Post</button>
														-----
														<button class="btn" onClick="myFunctions(action='delete', postid='{{post.post_id}}', section='delete{{post.post_id}}')">Delete</button>
														{% endif %}
														<br> {% if check_if_liked(user, post.post_id) == True %}
														<btn id="unlike{{post.post_id}}">
															<button class="btn btn-default" onClick="myFunctions(action='unlike', postid='{{post.post_id}}', section='unlike{{post.post_id}}')"
																type="button" style="color:#873beb;background-image:url(&quot;none&quot;);background-color:transparent;">
																<i class="glyphicon glyphicon-heart" data-aos="flip-right"></i>
																<span>{{ get_likes(post.post_id, count=True) }} Likes</span>
															</button>
														</btn>
														{% else %}
														<btn id="like{{post.post_id}}">
															<button class="btn btn-default" onClick="myFunctions(action='like', postid='{{post.post_id}}', section='like{{post.post_id}}')"
																type="button" style="color:#eb3b60;background-image:url(&quot;none&quot;);background-color:transparent;">
																<i class="glyphicon glyphicon-heart" data-aos="flip-right"></i>
																<span>{{ get_likes(post.post_id, count=True) }} Likes</span>
															</button>
														</btn>
														{% endif %}
														<button class="btn btn-default comment" onclick="showCommentsModal(postid='{{post.post_id}}')" type="button" style="color:#eb3b60;background-image:url(&quot;none&quot;);background-color:transparent;">
															<i class="glyphicon glyphicon-flash" style="color:#f9d616;"></i>
															<span style="color:#f9d616;"> Comments</span>
														</button>
														<button class="btn btn-default" id="share" type="button" style="color:#eb3b8c;background-image:url(&quot;none&quot;);background-color:transparent;">
															<i class="glyphicon glyphicon-heart" data-aos="flip-right"></i>
															<span>Share</span>
														</button>
													</footer>
												</blockquote>
												<div class="modal" id='cbox{{ post.post_id }}' role="dialog" tabindex="-1" style="padding-top:100px;">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" onclick="hideModal(postid='{{post.post_id}}')" class="close" data-dismiss="modal" aria-label="Close">
																	<span>×</span>
																</button>
																<h4 class="modal-title">Comments</h4>
															</div>
															<div class="modal-body" id="cbody{{post.post_id}}" style="max-height: 400px; overflow-y: auto">
															</div>
															<div class="modal-footer">
																<div>
																	<span style="color:#706f6b;text-align: right;">
																		<count id="span{{post.post_id}}">{{ get_comments(post.post_id, count=True ) }}</count>
																	</span>
																	<input required='' id="comment{{post.post_id}}" type="text">
																	<button class="btn btn-default" type="button" onclick="postComments(postid='{{post.post_id}}')">Post Comment</button>
																</div>
																<button class="btn btn-default" type="button" onclick="hideModal(postid='{{post.post_id}}')">Close</button>
															</div>
														</div>
													</div>
												</div>
											</li>
										{% else %}
										<p>End Of Post</p>
										{% endif %}
									{% else %}
									<p>No Post Yet</p>
									{% endfor%}
								{% endif %}
							{% endwith %}
						</ul>
					</div>
					<div class="col-md-3">
						<button class="btn btn-default" type="button" style="width:100%;background-image:url(&quot;none&quot;);background-color:#da052b;color:#fff;padding:16px 32px;margin:0px 0px 6px;border:none;box-shadow:none;text-shadow:none;opacity:0.9;text-transform:uppercase;font-weight:bold;font-size:13px;letter-spacing:0.4px;line-height:1;outline:none;"
						 onclick="showNewPostModal()">NEW POST</button>
						<ul class="list-group"></ul>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="newpost" role="dialog" tabindex="-1" style="padding-top:100px;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" onclick="hideModal(postid='None')" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
						</button>
						<h4 class="modal-title" >New Post</h4>
					</div>
						<div style="max-height: 400px; overflow-y: auto">
							<form action="/_post" method="POST" enctype="multipart/form-data">
								<textarea class="form-control" required="" id="postbox" name="postbox" rows="8" cols="80" placeholder="What's on your mind"></textarea>
								<br /> Add Media file:
								<input type="file" multiple="" name="media">
								<select name="privacy" id="privacy" style="border:2px solid;margin:0px 0px 6px; border-radius:4px; width:110px; height:26px; border:3px solid #da052b;">
									<option class="dropdown-item" value="public">Public</option>
									<option class="dropdown-item" value="private">Private</option>
									<option class="dropdown-item" value="only_friends">Only Friends</option>
								</select>
								<div class="modal-footer">
									<button name="_post" class="btn btn-default" type="submit" style="background-image:url(&quot;none&quot;);background-color:#da052b;color:#fff;padding:16px 32px;margin:0px 0px 6px;border:none;box-shadow:none;text-shadow:none;opacity:0.9;text-transform:uppercase;font-weight:bold;font-size:13px;letter-spacing:0.4px;line-height:1;outline:none;">POST</button>
									<button class="btn btn-default" type="button" onclick="hideModal(postid='None')" data-dismiss="modal">Close</button>
								</div>
							</form>
						</div>
				</div>
			</div>
		</div>
		</div>
		<div id="disqus_thread" class="disqus-loading">
			<center>
				<div>
					<span  id="loader" class="spinner spinner_large">
						<span class="spinner__dot spinner__dot_1"></span>
						<span class="spinner__dot spinner__dot_2"></span>
						<span class="spinner__dot spinner__dot_3"></span>
					</span>
				</div>
			</center>
		</div>
		<br/>			
</main>

{% endblock %}