<html>
  <script type="text/javascript" src='/static/javascript/jquery-3.3.1.min.js'></script>
  <script type="text/javascript" src="/static/javascript/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/javascript/slidestore.js"></script>
<h1>Slidestore</h1>

    <div class="input-prepend input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="fa fa-search"></i>
            </span>
        </div>
        <input class="form-control" id="searchname"  name="slide_search" size="16" type="text" placeholder="what slide you need?">
        <span class="input-group-append">
            <button onclick="getSlides();" class="btn btn-info" type="submit">Search</button>
    </span>
    </div>
   


    <div id="slideresults" class="card">
        
    </div> 

    
            


</html>